/*Estilo da página*/

h1 {
    text-align: center;
    color: crimson;
    margin: 2%;
}

h2 {
    text-align: center;
    color: crimson;
    margin: 2%;
} 

/*Configuração menu*/
.menu li {
    display: inline;
    padding: 50px;
    list-style: none;
}

.menu li a {
    text-decoration: overline;
    color: crimson;
    margin-left: 5px;
    font-size: 20px;
}

.menu li a:hover {
    color: cornflowerblue;
}

/*Midias*/

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.img{
    width: 120px;
    margin: 0%;
    justify-content: flex-start;
}

.imgborder{
    border-radius: 50%;
    width: 100px;
}

.margemesquerda{
    margin-left: 50px;
}
/*Radapé*/

.logo{
    width: 40px;
    height: 40px;
    padding: 20px;
    justify-content: end ;
}

.center {
    text-align: center;
}